.videoContainer {
  width: 100%; /* por defecto, usa el 100% del ancho del contenedor padre */
  margin: auto; /* esto centra el contenedor si es menor que el espacio disponible */
  padding: 50px;
}

.videoIframe {
  display: block; /* elimina cualquier espacio extra debajo del iframe */
  width: 100%; /* hace que el iframe sea del mismo ancho que su contenedor */
  height: auto; /* establece una altura automática */
  aspect-ratio: 16 / 9; /* mantiene la relación de aspecto 16:9 */
}

/* Media queries */
@media (max-width: 1024px) {
  .videoContainer {
    width: 100%; /* un ancho máximo más pequeño para pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .videoContainer {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .videoContainer {
    width: 100%;
  }
}

