.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50vh; /* O el alto que desees para el contenedor */
  }
  