/* hero.css */

.heroContainer {
    position: absolute;
    top: 100px;
    left: 50%; 
    transform: translateX(-50%);
    width: 90%; 
    height: 100%;
    z-index: 1;
  
    @media (max-width: 768px) {
      top: 50px; 
      left: 50%; 
      transform: translateX(-50%);
    }
  
    @media (max-width: 480px) {
      top: 25px; 
      left: 50%; 
      transform: translateX(-50%);
      padding: 0 15px; 
    }
}

.title-animation, .subtitle-animation, .desc-animation {
    @media (max-width: 768px) {
      font-size: smaller; 
    }
  
    @media (max-width: 480px) {
      font-size: small; 
    }
}

.title-animation {
    animation: title-animation 1s ease-in-out 0.5s forwards;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
