.popupContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #003a70; /* Color azul oscuro basado en desatascos-madrid.com */
  }
  
  .p {
    flex: 1;
    margin-right: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #00bbb4; /* Color turquesa basado en desatascos-madrid.com */
    color: #003a70; /* Color azul oscuro basado en desatascos-madrid.com */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #003a70;
    color: #00bbb4;
  }
  