.popupContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Cambio para apilar verticalmente el texto y el botón */
  align-items: center; /* Centra los elementos horizontalmente */
  border-top: 2px solid #003a70;
  z-index: 9999;
  opacity: 0.95;
}

.p {
  margin-bottom: 10px; /* Añade espacio entre el texto y el botón */
  font-size: 12px;
  text-align: center; /* Alinea el texto al centro */
}

.button {
  padding: 5px 15px;
  background-color: #005A9C;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
  margin: 0 auto; /* Centra el botón horizontalmente */
  margin-top: 10px;
}



@media (max-width: 768px) {
  .popupContainer {
    padding: 10px;
    flex-direction: row; /* Cambio a fila para alinear botones horizontalmente */
    flex-wrap: wrap; /* Permite envolver elementos si no caben */
    gap: 8px; /* Ajusta espacio en vista móvil */
  }

  .p {
    font-size: 12px; /* Ajuste de tamaño de fuente para móviles */
    margin-bottom: 8px; /* Ajuste de margen para móviles */
    max-width: 100%; /* Ajusta ancho máximo para móviles */
  }

  .button {
    padding: 8px 16px; /* Ajuste de padding para móviles */
    font-size: 12px; /* Ajuste de tamaño de fuente para móviles */
    margin: 4px; /* Ajusta margen para móviles */
  }
}
